<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="mainApp">
<head>
  <title>15C1</title>
  <script src="../../Libraries/angular.js"></script>
  <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
  <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet" />
<script>
//module goes here
  var mainApp = angular.module("mainApp", []);
//controller goes here
  mainApp.controller('MainController', function ($scope, $parse){
    $scope.parseExpression = function () {
      var result = $parse($scope.data)
      $scope.result = result();
    }
  })
</script>

</head>
<body>
  <div class="container" ng-controller="MainController">
    <!--bootstraping goes here-->
    <input type="text" ng-model="data"/>
      <button ng-click="parseExpression()">Show result</button>
      <p>Result: {{result}}</p>
  </div>
</body>

</html>
