<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>12H2</title>
  <script src="../../Libraries/angular.js"></script>
  <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
  <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet" />
<script>
//module goes here
  var mainApp = angular.module("mainApp", []);
//controller goes here
  mainApp.controller('MainController', function ($scope){
    $scope.items = [
      { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
      { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
      { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
      { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];

    $scope.options = [{display:'Display as table', value:'table'},{display:'Display as list', value:'list'}];
    $scope.mode = null;
  })
</script>
</head>
<!--bootstraping goes here-->
<body ng-app="mainApp">
  <div class="container" ng-controller="MainController">
    <select class="form-control" ng-model="mode" ng-options="item.display for item in options track by item.value"></select>
    <div ng-switch on="mode.value">
<!--BOOTSTRAP FOR TABLE-->
      <div ng-switch-when="table">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Tax</th>
            <th>Expiration</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.category}}</td>
            <td>{{item.count}}</td>
            <td>{{item.tax}}</td>
            <td>{{item.expiration}}</td>
          </tr>
        <tbody>
      </table>
    </div>
<!--BOOTSTRAP FOR LIST-->
    <div ng-switch-when="list">
      <ul>
        <li ng-repeat="item in items">Name: {{item.name}}, Price: {{item.price}}, Category: {{item.category}}, Quantity: {{item.count}}, Tax: {{item.count}}, Expiration: {{item.expiration}}</li>
      </ul>
    </div>
  </div>
</body>

</html>
