<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav-logo" href="#">
        <img alt="Brand" src="../img/header/logo.png">
        <div class="logo-text">K  E  T</div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" ng-repeat="item in $ctrl.items">
        <li><a class="nav-link" href="#">{{item}}</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-sm-12 cover">
    <div class="cover-text">WE MAKE WEBSITES</div>
    <div class="cover-button">START TOUR</div>
  </div>
</div>