<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="mainApp">
<head>
  <title>18C2</title>
  <script src="../../Libraries/angular.js"></script>
  <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
  <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet" />
<script>
//module goes here
  var mainApp = angular.module("mainApp", [])
//controller goes here

//directive goes here
  .directive('customDir', function() {
    return {
      restrict: 'E',
      template: '<button ng-click="startCounter()">start</button><button ng-click="stopCounter()">stop</button><h1>{{counter}}</h1>',
      controller: function ($scope, $interval){
        $scope.counter = 0;
        $scope.counterInterval;
        $scope.incrCounter = function incrCounter() {
          $scope.counter++
        };
        $scope.startCounter = function(){
          counterInterval = $interval($scope.incrCounter, 1000);
        };
        $scope.stopCounter = function (){
          $interval.cancel(counterInterval);
          $scope.counter = 0;
        };
      },
      controllerAs : "ctrl"
    }
  })
  .directive('anotherDir', function($interval) {
    return {
      restrict: 'A',
      require: 'customDir',
      link: function (scope, element, attrs, ctrl) {
        function logThis() {
          var i = scope.counter;
          if (i = scope.counter){
            console.log(scope.counter)
          };
        };
        $interval(logThis, 1000);
      }
    }
  })
</script>

</head>
<body>
  <div class="container">
    <custom-dir another-dir></custom-dir>
  </div>
</body>

</html>
