<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <meta charset="utf-8" />
  <title>16C2</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
  <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
  <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet" />
<script>
//module goes here
  var app = angular.module("mainApp", ['ngRoute'])
  .config(function($routeProvider, $locationProvider){
    $routeProvider
      .when('/', {templateUrl: 'src/index.html'})
      .when('/view1', {templateUrl: 'src/view1.html'})
      .when('/view2', {templateUrl: 'src/view2.html'})
      .otherwise({ redirectTo: ''});
      $locationProvider.html5Mode({
          enable: true,
          requireBase: true
      });
  })
  .controller('mainCtrl', function($scope, $location){
    $scope.goIndex = function () {
      $location.path('');
    }
    $scope.goView1 = function(){
      $location.path('view1')
    }
    $scope.goView2 = function(){
      $location.path('view2')
    }
  })
</script>

</head>
<body ng-app="mainApp">
  <div ng-controller="mainCtrl">
    <!--bootstraping goes here-->
      <ul>
        <li><button ng-click="goView1()" >View 1</button></li>
        <li><button ng-click="goView2()" >View 2</button></li>
      </ul>
      <div ng-view></div>
  </div>
</body>

</html>
